{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<html lang="en">
{{>partials/head}}

<body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper">
        <!-- ========== HEADER ========== -->
        <header>
            {{^_disableNavbar}} {{>partials/navbar}} {{/_disableNavbar}}
            
        </header>
        {{^_disableBreadcrumb}}
            <div class="border-bottom breadcrumb-wrapper">
                <div class="container-fluid">
                    {{>partials/breadcrumb}}
                </div>
            </div>
            {{/_disableBreadcrumb}}
        <!-- ========== END HEADER ========== -->

        <div role="main" class="container-fluid body-content hide-when-search">
            {{^_disableToc}} {{>partials/toc}}
            <div class="article row grid-right">
                {{/_disableToc}} {{#_disableToc}}
                <div class="article row grid">
                    {{/_disableToc}} {{#_disableAffix}}
                    <div class="col-md-12">
                        {{/_disableAffix}} {{^_disableAffix}}
                        <div class="col-md-10">
                            {{/_disableAffix}}
                            <article class="content wrap" id="_content" data-uid="{{uid}}">
                                {{!body}}
                            </article>
                        </div>
                        {{^_disableAffix}} {{>partials/affix}} {{/_disableAffix}}
                    </div>
                </div>
                {{^_disableFooter}} {{>partials/footer}} {{/_disableFooter}}
            </div>

            {{>partials/scripts}}
  <script type="text/javascript" src="{{_rel}}assets/docfx-custom.js"></script>
            <script type="text/javascript" src="{{_rel}}assets/main-custom.js"></script>
</body>

</html>