#wrapper {
  padding-bottom: 1px;
}
header {
  background: white;
}

.breadcrumb-wrapper .navbar {
  padding: 0;
}
.breadcrumb-wrapper {
  width: 100%;
  position: fixed;
  top: 5rem;
  background: white;
  z-index: 1000;

  height: 3rem;
}

.navbar .navbar-nav {
  display: flex;
}

@media (min-width: 2000px) {
  .container {
    max-width: 1900px;
  }
}

.sidetoc {
  top: 8rem;
  width: 300px;
}
.sidefilter {
  top: 8rem;
  width: 300px;
}
.article {
  margin-top: 8rem;
  margin-bottom: 115px;
}

.article.grid-right {
  margin-left: 320px;
}

.hide {
  display: none;
}
.toc .level1 > li {
  width: 100%;
}
