trigger:
- develop
- master

pool:
  vmImage: 'windows-2019'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    useGlobalJson: true
- task: PowerShell@2
  inputs:
    filePath: 'build.ps1'
    arguments: '-ScriptArgs "-build_artifacts_dir=$(build.artifactstagingdirectory)/packages"'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: './test-artifacts/coverage.cobertura.xml'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/*.trx'
    mergeTestResults: true


- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'