<?xml version="1.0" encoding="utf-8"?>

<CleanupCodeOptions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Debug>false</Debug>
    <Verbosity>INFO</Verbosity>
    <SolutionFile>GraphZen.sln</SolutionFile>
    <DisabledSettingsLayers>
        <Layer>GlobalAll</Layer>
        <Layer>GlobalPerProduct</Layer>
        <Layer>Solution Personal</Layer>
        <Layer>ProjectShared</Layer>
        <Layer>ProjectPersonal</Layer>
    </DisabledSettingsLayers>
    <SuppressBuildInSettings>false</SuppressBuildInSettings>
    <Properties>
        <Properties>Configuration=Release</Properties>
        <Properties>Platform=Any Cpu</Properties>
    </Properties>
    <TargetsForReferences />
    <TargetsForItems />
    <Extensions />
    <CustomSettingFile>GraphZen.sln.DotSettings</CustomSettingFile>
    <CleanupProfileName>GraphZen: Full Cleanup</CleanupProfileName>
</CleanupCodeOptions>